<div class="alert-dialog">
    <form>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" placeholder="Enter your email">
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" id="password" placeholder="Enter your password">
      </div>
      <button class="btn btn-primary">התחבר</button>
      <button class="btn btn-secondary" routerLink="UserRegistration" > הירשם</button>
    </form>
  </div>

